<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barmsss">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="BARMS"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".store"></activity>
        <activity android:name=".customer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClothesList"
            android:label="Clothes List"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>